body {
    background: linear-gradient(to bottom, white, black);
    color: white; /* Để chữ nổi bật hơn trên nền tối */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 100px 0;
}

h1 {
    font-size: 2.5em; /* Giảm kích thước chữ từ 3em xuống 2.5em */
}

h1 {
    font-size: 3em;
}
